.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute; /* absoulte를 사용하려면 부모 클래스의 포지션을 relative로 설정해야함 아니면 body를 기준으로 움직임 */
  left: 20px;
  bottom: 15px;
}

.nav__detail {
  background-color: tomato;
  display: flex;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
